---
layout: compress
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    {% seo %}
    {% if page.url == "/404.html" %}
        <meta http-equiv="refresh" content="5; url=/">
    {% endif %}
    <meta property="fb:app_id" content="547297888787869" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="google-site-verification" content="LTySX39L-RL9mgSFAxK8a_EHmTFHE27IifQdS8OJ9xs" />
    <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml" />
    <link href="https://plus.google.com/110154080788471889263" rel="publisher" />
    <link href='{{ site.baseurl }}images/favicon.ico' rel='icon' type='image/x-icon'/>
    <link rel="canonical" href=" {{ site.url }} {{ page.url }}" />
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}css/style.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}css/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}css/print.css" media="print" />
    
    
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title> {{ page.title }} </title>
     <div id="fb-root"></div>
  <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/id_ID/sdk.js#xfbml=1&version=v2.6&appId=547297888787869";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  </head>

  <body>
    <header>
      <div class="inner">
        <a href="http://supersadap.com">
        <img alt="SUPERSADAP.COM" height="75px; " id="Header1_headerimg" src="https://supersadap.com/images/supersadap.png" style="display: block" width="400px; ">
        </a>
        <a href="#" class="button">Call+6281355544654</a>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          <article class="post-content" itemprop="articleBody">
           {{ content }}
          </article>
          <div class="fb-comments" data-href="https://supersadap.com" data-width="790" data-numposts="5"></div>
        </section>

        <aside id="sidebar">
           <a href="{{ base.url }}" class="left"><i class="fa fa-chevron-right" aria-hidden="true"></i> Beranda </a>
           <a href="/about.html" class="left"><i class="fa fa-chevron-right" aria-hidden="true"></i> About Me </a>
           <a href="/disclaimer.html" class="left"><i class="fa fa-chevron-right" aria-hidden="true"></i> Disclaimer </a>
           <a href="/pemesanan.html" class="left"><i class="fa fa-chevron-right" aria-hidden="true"></i> Pemesanan </a>
           <a href="/support.html" class="left"><i class="fa fa-chevron-right" aria-hidden="true"></i> Pusat Bantuan </a><br />
          </a>

          <h2><i class="fa fa-whatsapp" aria-hidden="true"></i> 081156464460 (WA)</h2>
          <h2><i class="fa fa-commenting" aria-hidden="true"></i> 7B5HJ78 (BBM)</h2><br><hr>
          <span class="bubar"><button><i class="fa fa-check-square" aria-hidden="true"></i> SMS</button></span>
          <span class="bubar"><button><i class="fa fa-check-square" aria-hidden="true"></i> BBM</button></span>
          <span class="bubar"><button><i class="fa fa-check-square" aria-hidden="true"></i> WHATSAPP</button></span>
          <span class="bubar"><button><i class="fa fa-check-square" aria-hidden="true"></i> LOKASI</button></span>
          <span class="bubar"><button><i class="fa fa-check-square" aria-hidden="true"></i> LOG CALL</button></span>
          <span class="bubar"><button><i class="fa fa-check-square" aria-hidden="true"></i> EMAIL</button></span>
          <span class="bubar"><button><i class="fa fa-check-square" aria-hidden="true"></i> PHONEBOOK</button></span>
          <span class="bubar"><button><i class="fa fa-check-square" aria-hidden="true"></i> NO IMEI</button></span>
          <span class="bubar"><button><i class="fa fa-check-square" aria-hidden="true"></i> FOTO & VIDEO</button></span>
          <span class="bubar"><button><i class="fa fa-check-square" aria-hidden="true"></i> WEB HISTORY</button></span>
           <hr>
          <img alt="SUPERSADAP.COM" id="Header1_headerimg" src="images/banner.jpg" style="display: block" align="center">
        </aside>
      </div>
              
    </div>
    
    <footer>
      <hr>
<div class="social-buttons">
<span class="twitter-button">
    <a href="https://twitter.com/joshfinnie">
    <span class="fa-stack fa-4x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
    </span>
    </a>
</span>
<span class="github-button">
    <a href="https://github.com/joshfinnie">
    <span class="fa-stack fa-4x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-github-alt fa-stack-1x fa-inverse"></i>
    </span>
    </a>
</span>
<span class="linkedin-button">
    <a href="https://linkedin.com/in/joshfinnie">
    <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-lg"></i>
        <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
    </span>
    </a>
</span>
<span class="instagram-button">
    <a href="https://instagram.com/joshfinnie">
    <span class="fa-stack fa-4x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
    </span>
    </a>
</span>
</div>
      <span class="credit">Web is maintained by : </span><a href="#">Supersadap.com</a>
    </footer>
  </body>
  
</html>
